.container {
	
	margin:20px;

	.checkbox {
		margin-top: 5px;
	}

	.error-row {
		color: red;
		padding-top: 5px;
	}

	.logo {
		text-align:center;
	}

}

#wikipedia_results {
	
	.row {

		margin-bottom: 15px;
	
	}

}

#twitter_results {
	
	.row {

		margin-bottom: 15px;
	
	}

}